* {
 margin: 0;
 padding: 0;
 border: 0;
 box-sizing: border-box;
}

body {
 margin: 0;
 background-color: black; /* Default background for dark mode */
 color: rgb(244, 0, 0); /* Default text color for dark mode */
 height: 100vh;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.container {
 padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.video-wrapper {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: linear-gradient(45deg, #ff7e5f, #feb47b, blue, green, purple,pink,yellow); /* Initial gradient */
 background-size: 400% 400%;
 animation: gradientAnimation 10s ease infinite;
}
video {
 object-fit: cover;
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 150%;

}


.left-link,
.right-link {
  background-color: #fff;  /* Light button background for dark mode */
 color: #000;  /* Black text color for dark mode */
 border: none;
 border-radius: 5px;
 cursor: pointer;
 position: absolute;
 bottom: 20px;
 color: rgb(255, 0, 0); /* Default color for dark mode */
 text-decoration: none;
 font-size: 18px;
 padding: 10px;
}

.left-link {
 left: 20px;
}

.right-link {
 right: 20px;
}

canvas {
  width: 640px;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; /* Adds space below the canvas */
}

.buttonRack {
  
 display: flex;
 gap: 10px; /* Space between the buttons */
 margin-top: 10px; /* Optional: adds some space above the button rack */
 position: relative; /* Ensure it's in the flow and clickable */
}

/* Style individual buttons */
.buttonRack button {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
 padding: 10px 20px;
 font-size: 16px;
 cursor: pointer;
 border: none;
 border-radius: 5px;
 transition: background-color 0.3s;
}

.title {
 position: absolute;
 top: 20px;
 left: calc(640px + 60px); /* Position text to the right of the canvas with some space */
 font-size: 10rem;
 color: rgb(255, 0, 0); /* Default text color for dark mode */
 display: flex;
 align-items: center;
 
}

@media (max-width: 600px) { 
  .title { 
    font-size: 1.5rem;
  }
  body {
    font-size: 14px;
  }
  video {
    width: 100%;
  }
 }
 
 @media (min-width: 601px) and (max-width: 1024px) {
  .title { 
    font-size: 5rem;
  }
  body {
    font-size: 16px;
  }
  video {
    width: 80%;
  }
 }
 
 @media (min-width: 1025px) {
  .title { 
    font-size: 10rem;
  }
  body {
    font-size: 18px;
  }
 }
 
 @media (orientation: portrait) {
  body {
    background-color: lightblue;
  }
 }
 
 @media (orientation: landscape) {
  body {
    background-color: lightgreen;
  }
 }
